<div class="profile">
    <div class="profile-details">

        <div class="personal-details">
            <div class="title">Personal Details</div>
            <div class="personal-details__container">
                <div class="personal-details__fullname">
                    <div class="personal-details__name">David</div>
                    <div class="personal-details__lastname">Mogollon</div>
                </div>
                <div class="personal-details__email">david.fernandez@osf-commerce.com</div>
                <div class="personal-details__edit">
                    <a href="#" class="edit-button">Edit</a>
                    <a href="#" class="cancel-button">Cancel</a>
                </div>
            </div>
        </div>
        <div class="certification-details">
            <div class="title">Certification Details</div>
            <div class="certification-details__container">                       
                <div class="certification-row">
                    <div class="certication-name">Certification 1</div>
                    <a href="#" class="edit-button">Edit</a>
                </div>
                <div class="certification-row">
                    <div class="certication-name">Certification 2</div>
                    <a href="#" class="edit-button">Edit</a>
                </div>
                <div class="certification-row">
                    <div class="certication-name">Certification 3</div>
                    <a href="#" class="edit-button">Edit</a>
                </div>
                <a href="#" class="add-cert-button">Add New Certificate</a>                
            </div>

        </div>       
    </div>

    <div class="achievements">
        <div class="title">Achievement</div>
        <div class="achievements__container">
            <div class="achievements__summary">Summary</div>
            <div class="achievements__points">Total Points</div>
            <div class="achievements__awards">Awards & Badges</div>
        </div>
    </div>
</div>